<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://tailwindcss.com/docs/installation"></script>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Авторизация пользователя</title>
</head>
<body class="h-full">

<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div>
                        <img class="h-8 w-auto" th:src="@{/static/images/logo-auction.jpeg}" alt="" width="32"
                             height="32">
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <a th:href="@{/auction}"
                               class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                               aria-current="page">Главное меню</a>
                            <a href="#"
                               class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Мои
                                публикации</a>
                            <a href="#"
                               class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Отзывы</a>
                            <a href="#"
                               class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Поддержка</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <div class="mx-auto text-center max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Введите данные для авторизации</h1>
        </div>
    </header>


    <main>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                <div class="isolate bg-white px-6 py-8 sm:py-14 lg:px-8">
                    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
                         aria-hidden="true">
                        <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
                             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                        </div>
                    </div>

                    <form th:action="@{/login}" method="POST" class="max-w-md mx-auto">
                        <div class="flex justify-between">
                            <div class="w-full">
                                <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Логин</label>
                                <div class="mt-2">
                                    <input id="username" name="username" type="text" autocomplete="login"
                                           class="w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-center mt-4">
                            <div class="w-full">
                                <div class="flex items-center justify-between">
                                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900 text-center">Пароль</label>
                                </div>
                                <div class="mt-2">
                                    <input id="password" name="password" type="password" autocomplete="current-password"
                                           class="w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                                </div>
                            </div>
                        </div>

                        <div class="flex-1 justify-center mt-4">
                            <div class="w-full">
                                <div class="flex justify-between items-center">
                                    <a href="#" class="rounded-md px-6 py-3 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Забыли пароль?</a>
                                    <input type="submit" class="bg-green-600 font-medium hover:bg-green-700 px-1 py-2 rounded-md text-sm text-white" value="Войти">
                                </div>
                            </div>
                        </div>
                    </form>

                    <form th:action="@{/users/new}" method="GET" class="max-w-md mx-auto">
                        <div class="flex justify-center mt-4">
                            <div class="w-full">
                                <input type="submit" th:href="@{/users/new}" value="Зарегистрироваться"
                                       class="w-full bg-blue-600 font-medium hover:bg-blue-700 rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>