<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://tailwindcss.com/docs/installation"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Страница лота</title>
</head>
<body class="h-full">

<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div>
                        <img class="h-8 w-auto" th:src="@{/static/images/logo-auction.jpeg}" alt="Лого сайта" width="32" height="32">
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <a th:href="@{/auction}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Главное меню</a>
                            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Мои публикации</a>
                            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Отзывы</a>
                            <a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Поддержка</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <div class="mx-auto text-center max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Вся доступная информация по лоту с ID: <span th:text="${publication.id}"></span></h1>
        </div>
    </header>

<main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">

        <div class="grid grid-cols-3">

            <div class="border px-1 py-1 text-center">
                <img th:src="@{${publication.imagesPath}}" id="thumbnail" class="w-auto border p-1 rounded-md" alt="Фото лота">
            </div>

            <table class="table-auto w-full col-span-2">
                <tr>
                    <th class="bg-gray-800 text-white uppercase border text-left px-6">Категория</th>
                    <td class="bg-white border-b px-6 py-4 border" th:text="${publication.category}"></td>
                </tr>

                <tr>
                    <th class="bg-gray-800 text-white uppercase border text-left px-6">Состояние</th>
                    <td class="bg-white border-b px-6 py-4 border" th:text="${publication.condition}"></td>
                </tr>

                <tr>
                    <th class="bg-gray-800 text-white uppercase border text-left px-6">Торги завершатся</th>
                    <td class="bg-white border-b px-6 py-4 border" th:text="${#temporals.format(publication.dateOfFinishTrade, 'dd-MMMM-yyyy HH:mm')}"></td>
                </tr>

                <tr>
                    <th class="bg-gray-800 text-white uppercase border text-left px-6">Цена лота</th>
                    <td class="bg-white border-b px-6 py-4 border" th:text="${publication.priceNow}"></td>
                </tr>

                <tr>
                    <th class="bg-gray-800 text-white uppercase border text-left px-6">Лот выставлен</th>
                    <td class="bg-white border-b px-6 py-4 border">
                        <a th:href="@{/users/{login}(login=${publication.holder})}" class="border px-6 py-4 text-center" th:text="${publication.holder}"></a>
                    </td>
                </tr>

                <tr>
                    <th th:if="${publication.statusPublication == 'Продано' && publication.user == username}" class="bg-gray-800 text-white uppercase border text-left px-6">Номер владельца лота</th>
                    <td th:if="${publication.statusPublication == 'Продано' && publication.user == username}" class="bg-white border-b px-6 py-4 border">
                            <span> Свяжитесь с </span>
                            <span th:text="${publication.holder}"></span>
                            <span> по телефону </span>
                            <span th:text="${userWin.phoneNumber}"></span>
                    </td>
                </tr>

                <tr>
                    <form th:if="${publication.statusPublication == 'Активные торги' && publication.holder != username}" th:method="POST" th:action="@{/auction/{id}(id=${publication.id})}">
                        <th class="bg-gray-800 text-white uppercase border text-left px-6">Ваша ставка</th>
                        <td class="bg-white border-b px-6 py-4 border">
                            <input type="number" class="border rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" name="newPrice">
                            <input type="submit" class="bg-green-600 font-medium hover:bg-green-700 px-3 py-2 rounded-md text-sm text-white" value="Сделать ставку">
                        </td>
                    </form>
                </tr>

                <tr>
                    <th th:if="${publication.holder == username}" class="bg-gray-800 text-white uppercase border text-left px-6">Управление лотом</th>
                    <td class="bg-white border-b px-6 py-4 border flex justify-between">
                    <form th:if="${publication.holder == username}" th:method="post" th:action="@{/auction/delete}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="id" th:value="${publication.id}">
                        <input type="submit" class="bg-red-600 font-medium px-3 py-2 rounded-md text-sm text-white" value="Удалить лот">
                    </form>
                    <form th:if="${publication.holder == username}" th:method="GET" th:action="@{/auction/edit/{id}(id=${publication.id})}">
                        <input type="hidden" name="_method" value="GET">
                        <input type="submit" class="bg-blue-600 font-medium px-3 py-2 rounded-md text-sm text-white" value="Изменить лот">
                    </form>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    </main>
</div>
</body>
</html>
